[submodule "202526/2526_sdp8_Business_Trust_Analysis"]
	path = 202526/2526_sdp8_Business_Trust_Analysis
	url = https://github.com/Jills1811/2526_sdp8_Business_Trust_Analysis
[submodule "202526/2526_sdp8_NifnityX"]
	path = 202526/2526_sdp8_NifnityX
	url = https://github.com/meetmehta136/2526_sdp8_NifnityX
[submodule "202526/2526_SDP8_PullRequest_Intelligence_System"]
	path = 202526/2526_SDP8_PullRequest_Intelligence_System
	url = https://github.com/Manvadariya/2526_SDP8_PullRequest_Intelligence_System
[submodule "202526/2526_sdp8_tripagent"]
	path = 202526/2526_sdp8_tripagent
	url = https://github.com/Naitik-Chaudhari/2526_sdp8_tripagent
[submodule "202526/2526_sdp3_mkrs"]
	path = 202526/2526_sdp3_mkrs
	url = https://github.com/shivam1002modi/2526_sdp3_mkrs
