[submodule "202526/2526_sdp8_Business_Trust_Analysis"]
	path = 202526/2526_sdp8_Business_Trust_Analysis
	url = https://github.com/Jills1811/2526_sdp8_Business_Trust_Analysis
[submodule "202526/2526_sdp8_NifnityX"]
	path = 202526/2526_sdp8_NifnityX
	url = https://github.com/meetmehta136/2526_sdp8_NifnityX
[submodule "202526/2526_SDP8_PullRequest_Intelligence_System"]
	path = 202526/2526_SDP8_PullRequest_Intelligence_System
	url = https://github.com/Manvadariya/2526_SDP8_PullRequest_Intelligence_System
[submodule "202526/2526_sdp8_tripagent"]
	path = 202526/2526_sdp8_tripagent
	url = https://github.com/Naitik-Chaudhari/2526_sdp8_tripagent
[submodule "202526/2526_sdp3_mkrs"]
	path = 202526/2526_sdp3_mkrs
	url = https://github.com/shivam1002modi/2526_sdp3_mkrs
[submodule "202526/2526_sdp8_chatbot"]
	path = 202526/2526_sdp8_chatbot
	url = https://github.com/Hepin007/2526_sdp8_chatbot
[submodule "202526/2526_sdp8_onlineFarmerEducationAndComplaintSolvingPlatform"]
	path = 202526/2526_sdp8_onlineFarmerEducationAndComplaintSolvingPlatform
	url = https://github.com/NEHPATEL0810/2526_sdp8_onlineFarmerEducationAndComplaintSolvingPlatform
[submodule "202526/2526_SDP8_Face-mask-detection"]
	path = 202526/2526_SDP8_Face-mask-detection
	url = https://github.com/DeepVaishnav17/2526_SDP8_Face-mask-detection
[submodule "202526/2526_sdp8_ai-assignment-checker"]
	path = 202526/2526_sdp8_ai-assignment-checker
	url = https://github.com/Bhargav-611/2526_sdp8_ai-assignment-checker
[submodule "202526/2526_sdp8_vehicle_detection_and_categorization"]
	path = 202526/2526_sdp8_vehicle_detection_and_categorization
	url = https://github.com/jalshah11/2526_sdp8_vehicle_detection_and_categorization
[submodule "202526/2526_sdp8_College_info_assistant"]
	path = 202526/2526_sdp8_College_info_assistant
	url = https://github.com/madhav2710/2526_sdp8_College_info_assistant
[submodule "202526/2025-26_sdp3_TextToLearn"]
	path = 202526/2025-26_sdp3_TextToLearn
	url = https://github.com/Rushi-web446/2025-26_sdp3_TextToLearn
[submodule "202526/2025-26_Sdp3_Document-summarization-system"]
	path = 202526/2025-26_Sdp3_Document-summarization-system
	url = https://github.com/MokshDesai/2025-26_Sdp3_Document-summarization-system
[submodule "202526/202526_SDP3_MicroStay"]
	path = 202526/202526_SDP3_MicroStay
	url = https://github.com/kantariya/202526_SDP3_MicroStay
[submodule "202526/2025_26_SDP3_AI_BASED_JOB_PORTAL"]
	path = 202526/2025_26_SDP3_AI_BASED_JOB_PORTAL
	url = https://github.com/Adityapatelcodes/2025_26_SDP3_AI_BASED_JOB_PORTAL
[submodule "202526/2025-26_SDP3_Spam_Text_Message_Detection"]
	path = 202526/2025-26_SDP3_Spam_Text_Message_Detection
	url = https://github.com/zalaprashant2003-spec/2025-26_SDP3_Spam_Text_Message_Detection
